@page
@model ÆGTESemesterProjekt.Pages.Products.GetAllProductsModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/ProductPages.css" />
</head>


<div class="container text-center mt-5 py-5" style="background-color:rgb(249,249,249); background-image: url('/images/product-showcase-with-spotlight-black-studio-room-background-use-as-montage-product-display.jpg'); background-size: cover; background-position: center;">
    <h1 class="display-1 fw-bold" style="color:darkorange;">Vores Udvalg</h1>
    <p style="color:darkorange;" class="lead">Leder ud efter intet specifikt? Tjek alle vores produkter ud her.</p>
    </div>


<div class="container-fluid mx-auto mt-4" style="max-width: 80%;">
    <div class="row">
        <div class="col-xl-2 col-md-4 col-sm-12 border border-2 pt-2 pb-2 filter-container">
            <form method="post" class="form-inline mb-3">
                <input asp-for="SearchString" class="form-control form-control-sm mb-1" placeholder="Leder du efter noget?" />
                <input type="submit" asp-page-handler="NameSearch" value="Søg" class="btn mb-3 w-100" />
            </form>
            <form method="post" class="form-inline">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Min.</span>
                    </div>
                    <input asp-for="MinPrice" class="form-control form-control-sm mx-1" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Max.</span>
                    </div>
                    <input asp-for="MaxPrice" class="form-control form-control-sm mx-1" />
                    <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn mx-2" />
                </div>
                <br />
                @if (User.IsInRole("employee"))
                {
                    <a class="btn w-100" asp-page="CreateProduct">Opret Produkt</a>
                }
            </form>
        </div>

        <div class="col-xl-10 col-md-8 col-sm-12">
            <div class="row">
                @if (Model.Products != null)
                {
                    foreach (var product in Model.Products)
                    {

                        <div class="col-xl-3 col-md-6">
                            <div class="card" style="width: 16rem; height: 16rem; margin: 10px;">

                                <div class="container-fluid mt-1">
                                    <a asp-page="DetailProduct" asp-route-id="@product.Id"> <img src="~/images/@product.ProductImage" alt="Image" class="img-thumbnail" title="Detail" style="border:none; position:relative; top:20%;"></a>

                                </div>
                            </div>
                            <div class="card-body">
                                <p1 class="card-title text-left" style=" font-size:1.25rem; overflow: hidden; text-overflow: ellipsis; ">@product.ProductName</p1> <br />
                                <p3 class="card-text text-muted">@product.Type</p3><br />
                                <p3 class="card-text" style="font-weight:600; color:darkorange">@product.Price,-</p3>
                            </div>
                        </div>

                    }
                }


            </div>
        </div>
    </div>
</div>