@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om Os";
}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Om ATLL</h1>
        <p class="lead">Lær mere ATLL, vores team og hvad vi står for</p>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h2>Om ATLL</h2>
            <p>
                Welcome to our company! We are dedicated to providing the best services and products to our customers.
                Our mission is to innovate and lead in our industry. We believe in the power of technology and the impact it
                can have on people's lives.
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h2>Om Os</h2>
            <p>
                Welcome to our company! We are dedicated to providing the best services and products to our customers.
                Our mission is to innovate and lead in our industry. We believe in the power of technology and the impact it
                can have on people's lives.
            </p>
        </div>
    </div>
    <br />
    <div class="row mt-5">
        <div class="col-lg-12">
            <h2>Vores Team</h2>
                <div class="col-md-4 text-center">
                    <p>CEO</p>
                    <img src="~/images/employee.jpg" class="rounded-circle img-fluid" alt="CEO">
                    <h3>Thor Russell Nesbit</h3>
                    <p></p>
                    <p></p>
                </div>
                <br />
                <div class="col-md-4 text-center">
                    <p>COO</p>
                    <img src="~/images/employee.jpg" class="rounded-circle img-fluid" alt="COO">
                    <h3>Arda Umut Yildiz</h3>
                    <p></p>
                    <p></p>
                </div>
                <br />
                <div class="col-md-4 text-center">
                    <p>CFO</p>
                    <img src="~/images/employee.jpg" class="rounded-circle img-fluid" alt="CFO">
                    <h3>Lucas Sawisit kjær Christoffersen</h3>
                    <p></p>
                    <p></p>
                </div>
                <br />
                <div class="col-md-4 text-center">
                    <p>CUM</p>
                    <img src="~/images/employee.jpg" class="rounded-circle img-fluid" alt="CUM">
                    <h3>Lasse Hammer</h3>
                    <p></p>
                    <p></p>
                </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12">
            <h2>Kontakt os</h2>
            <p>Hvis i har nogen spørgsmål</p> 
            <p>Hvis ikke dette virker kan i også forstyrre os, alle dage mellem klokken halv ét og 12:30, på nedenstående info:</p>
            <ul>
                <li>Email: SutMinRøv@FuckDig.Nu</li>
                <li>Telefon: (+244) 12 34 How many N***as are in my store</li>
                <li>Adresse: Herning - Afdeling Agerbo, 7400 Herning Danmark</li>
            </ul>
        </div>
    </div>
</div>
