@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om Os -";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Om ATLL</h1>
        <p class="lead">Lær mere ATLL, vores team og hvad vi står for</p>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h2>Om ATLL</h2>
            <p>
                Hos ATLL bestræber vi os efter at levere den bedste kundeoplevelse til vores kunder. Dette gør vi ved at levere et stærkt og holdbart udvalg <br />
                af LP´er, højtalere og musikudstyr.
            </p>
            <p>
                Vores mission er at levere langvarige løsninger til alle musik elskere, derfor kan du altid kontakteWelcome to our company! We are dedicated to providing the best services and products to our customers.
                Our mission is to innovate and lead in our industry. We believe in the power of technology and the impact it
                can have on people's lives.
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h2>Om Os</h2>
            <p>
                Welcome to our company! We are dedicated to providing the best services and products to our customers.
                Our mission is to innovate and lead in our industry. We believe in the power of technology and the impact it
                can have on people's lives.
            </p>
        </div>
    </div>
    <br />
    <div class="row mt-5">
        <div class="col-lg-12">
            <h2>Vores Team</h2>
                <div class="col-md-4 text-center">
                    <p>Medarbejder</p>
                <img src="~/images/Thor.jpg" class="rounded-circle img-fluid" alt="Medarbejder" style="width: 200px; height: 200px;">
                    <h3>Thor Russell Nesbit</h3>
                    <p>Ansvarlig for reperationer og vare-bestillinger.</p>
                    <p></p>
                </div>
                <br />
                <div class="col-md-4 text-center">
                    <p>Medarbejer</p>
                <img src="~/images/Arda.jpg" class="rounded-circle img-fluid" alt="Medarbejder" style="width: 200px; height: 200px;">
                    <h3>Arda Umut Yildiz</h3>
                    <p>Ansvarlig for kundekontakt og floor-vagt</p>
                    <p></p>
                </div>
                <br />
                <div class="col-md-4 text-center">
                    <p>Medarbejder</p>
                <img src="~/images/Lucas.jpg" class="rounded-circle img-fluid" alt="Medarbejder" style="width: 200px; height: 200px;">
                    <h3>Lucas Sawisit kjær Christoffersen</h3>
                    <p>Ansvarling for kundekontakt og floor-vagt</p>
                    <p></p>
                </div>
                <br />
                <div class="col-md-4 text-center">
                    <p>Medarbejder</p>
                <img src="~/images/Lasse.jpg" class="rounded-circle img-fluid" alt="Medarbejder" style="width: 200px; height: 200px;">
                    <h3>Lasse Hammer</h3>
                    <p></p>
                    <p></p>
                </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12">
            <h2>Kontakt os</h2>
            <p>
                Hvis i har nogen spørgsmål, til produkter eller omkring levering kan i kontakte os på nedenstående nummer eller sende os en mail.
                Du kan også komme forbi vores butik i Roskilde.
            </p> 
            <ul>
                <li>Telefon: (+244) 88 88 88 88</li>
                <li>Email: Kontakt@ATLL.com</li>
                <li>Adresse: Maglegårdsvej 2, 4000 Roskilde</li>
            </ul>
            <p></p>
        </div>
    </div>
</div>
