@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om Os -";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Om ATLL</h1>
        <p class="lead">Lær mere ATLL, vores team og hvad vi står for</p>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h2></h2>
            <p>
                
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h2>Om Os</h2>
            <p>
                Vi er fire unge mænd, der har en fælles ambition for musik, og har derfor valgt at åbne en lille og fin butik i hjertet af Roskilde. 
                Vi tror på hvordan musikken kan have indflydelse på folks liv, og har derfor også valgt at åbne denne website!
                Vi er altid friske på at hjælpe, og vi vil gøre vores ypperste for at give den bedste vejledning, og hjælpe netop jer, med at finde det i leder efter. 
            </p>
        </div>
    </div>
    <br />
    <div class="row mt-5">
        <div class="col-lg-12">
            <h2>Vores Team</h2>
                <div class="col-md-4 text-center">
                    <p>Medarbejder</p>
                <img src="~/images/Thor.jpg" class="rounded-circle img-fluid" alt="Medarbejder" style="width: 200px; height: 200px;">
                    <h3>Thor Russell Nesbit</h3>
                    <p></p>
                    <p></p>
                </div>
                <br />
                <div class="col-md-4 text-center">
                    <p>Medarbejer</p>
                <img src="~/images/Arda.jpg" class="rounded-circle img-fluid" alt="Medarbejder" style="width: 200px; height: 200px;">
                    <h3>Arda Umut Yildiz</h3>
                    <p></p>
                    <p></p>
                </div>
                <br />
                <div class="col-md-4 text-center">
                    <p>Medarbejder</p>
                <img src="~/images/Lucas.jpg" class="rounded-circle img-fluid" alt="Medarbejder" style="width: 200px; height: 200px;">
                    <h3>Lucas Sawisit kjær Christoffersen</h3>
                    <p></p>
                    <p></p>
                </div>
                <br />
                <div class="col-md-4 text-center">
                    <p>Medarbejder</p>
                <img src="~/images/Lasse.jpg" class="rounded-circle img-fluid" alt="Medarbejder" style="width: 200px; height: 200px;">
                    <h3>Lasse Hammer</h3>
                    <p></p>
                    <p></p>
                </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12">
            <h2>Kontakt os</h2>
            <p>Hvis i har nogen spørgsmål</p> 
            <p>Hvis ikke dette virker kan i også forstyrre os, alle dage mellem klokken halv ét og 12:30, på nedenstående info:</p>
            <ul>
                <li>Email: Atll@gmail.com</li>
                <li>Telefon: +45 21 21 21 21 </li>
                <li>Adresse: Hersegade 1 D, 4000 Roskilde</li>
            </ul>
            <p></p>
        </div>
    </div>
</div>
