@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    
    <style>
        body {
            margin: 0;
            font-family: Roboto, sans-serif;
        }

         .cards-wrapper {
            display: flex;
            justify-content: center;
        }

        .card-card {
            margin: 5px;
            border: none;
            border-radius: 0;
            box-shadow: 2px 4px 4px 0 #555555;
        }

         .image-wrapper {
                    height: auto;
                    width: auto;
                    object-fit: cover;

                } 

        .card-card img {
            max-width: 100%;
            max-height: 100%;
        }

        .product {
            position: relative;
            overflow: hidden;
            padding: 20px;
        }

        .product-container {
            padding: 50px;
            display: flex;
            overflow-x: auto;
            scroll-behavior: smooth;
        }

        .product-container::-webkit-scrollbar {
            display: none;

        }

        .product-card {
            flex: 0 0 auto;
            width: 350px;
            height: 500px;
            margin-right: 40px;
        }

        .product-image {
            position: relative;
            width: 100%;
            height: 350px;
            overflow: hidden;
        }

        .product-thumb {
            width: 100%;
            height: 350px;
            object-fit: cover;

        }

        .discount-tag {
            position: absolute;
            background: #fff;
            padding: 5px;
            border-radius: 15px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(240,240,240);
            color: orangered;
            right: 10px;
            top: 10px;
            text-transform: capitalize;
        }

        .card-btn {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px;
            width: 90%;
            text-transform: capitalize;
            border: none;
            outline: none;
            background: #fff;
            border-radius: 5px;
            transition: 0.5s;
            cursor: pointer;
            opacity: 0;
        }

        .product-card:hover .card-btn {
            opacity: 1;
        }

        .card-btn:hover {
            background: #990000;
            color: #fff;
        }

        .product-info {
            width: 100%;
            height: 100%;
            padding-top: 10px;
        }

        .product-brand {
            text-transform: uppercase;
        }

        .product-short-description
        {
            width: 100%;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            opacity: 0.5;
            text-transform: capitalize;
            margin: 5px 0;
        }
        
        .price {
            font-weight: 900;
            font-size: 20px;
        }

        .actual-price {
            margin-left: 20px;
            opacity: 0.5;
            text-decoration: line-through;
            color: darkred
        }

        .pre-btn, .nxt-btn {
            border: none;
            width: 10vw;
            height: 100%;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: 0; /* linear-gradient(90deg, rgba(255,255,255, 0)0%, #fff 100%); */
            cursor: pointer;
            z-index: 9;
        }

        .pre-btn {
            left: 0;
        }

        .nxt-btn {
            right: 0;
        }

        .pre-btn, .nxt-btn {
            opacity: 0.2;
        }

        .pre-btn:hover, .nxt-btn:hover {
            opacity: 1;
        }

        /* .collection-container {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
        }

        .collection {
            position: relative;
        } */

        .collection img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* .collection p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            color: #fff;
            font-size: 50px;
            text-transform: capitalize;
        } */

        /* .collection:nth-child(3) {
            grid-column: span 2;
            margin-bottom: 10px;
        } */

        .hero-image {
            background-image: url("https://wallpapers.com/images/hd/beach-dance-party-3672-x-2216-wallpaper-ofvoyz40hzp2u6wj.jpg");
            background-color: #cccccc;
            height: 400px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .hero-text {
            text-align: left;
            position: absolute;
            top: 33%;
            left: 20%;
            transform: translate(-50%, -50%);
            color: white;
        }

        .h4 {
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row">
                <div class="mx-auto my-3 p-1" style="width:600px; height:60px;">
                    <div class="card mb-3">
                        <div class="card-body d-flex justify-content-between py-2">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text border-0 px-1" id="basic-addon2" style="background-color:#ffffff"><i class="fas fa-search fa-lg" style="color:lightgrey;"></i></span>
                                <input type="text" class="form-control form-control-lg rounded-3" placeholder="Lad musikken fører dig frem - eller brug dine ord"
                                       aria-label="Search" aria-describedby="basic-addon2" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px; font-weight: 600;">ATLL</h1>
            <h3>Musik til hverdagen</h3>
        </div>
        <div class="container-fluid p-3 mt-3 text-white text-center">
            <div class="row">
                <div class="col-sm-2">
                    <form action="/ProductCatalog/Radio" method="get">
                        <button type="submit" class="btn" style="color:white; height:55px;width:130px; font-size:20px; 007bff; border: none; border-radius: 5px;">Radio</button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form action="/ProductCatalog/Headset" method="get">
                        <button type="submit" class="btn" style="color:white; height:55px;width:130px; font-size:20px; 007bff; border: none; border-radius: 5px;">Headset</button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form action="/ProductCatalog/Vinyl" method="get">
                        <button type="submit" class="btn" style="color:white; height:55px;width:130px; font-size:20px; 007bff; border: none; border-radius: 5px;">Vinyl</button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form action="/ProductCatalog/RecordPlayer" method="get">
                        <button type="submit" class="btn" style="color:white; height:55px;width:130px; font-size:20px; 007bff; border: none; border-radius: 5px;">Pladeafspiller</button>
                    </form>
                </div>
                <div class="col-sm-2">
                        <form action="/ProductCatalog/CleaningTool" method="get">
                            <button type="submit" class="btn" style="color:white; height:55px;width:130px; font-size:20px; 007bff; border: none; border-radius: 5px;">Rengørings udstyr</button>
                        </form>
                </div>
                <div class="col-sm-2">
                    <form action="/ProductCatalog/Speaker" method="get">
                        <button type="submit" class="btn" style="color:white; height:55px;width:130px; font-size:20px; 007bff; border: none; border-radius: 5px;">Højtaler</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <h3>Populære</h3>
        <p class="h4">Produkter</p>
    </div>


    <section>
  <div id="demo" class="carousel carousel-dark slide" data-bs-ride="carousel">

        @*carousel og billeder *@
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cards-wrapper">
    <div class="product-container">
    <div class="product-card">
    <div class="product-image">
    <span class="discount-tag">50% off</span>
                                    <img src="https://i5.walmartimages.com/seo/Taylor-Swift-Midnights-Moonstone-Blue-Edition-Rock-Vinyl_3cbd6077-35f8-422a-a700-e1ae9f795aa6.6455a2dd753e5ed19de358a809e244af.png?odnHeight=768&odnWidth=768&odnBg=FFFFFF" class="product-thumb" alt="" />
    <button class="card-btn">add to wishlist</button>
    </div>
    <div class="product-info">
    <h2 class="product-brand">Midnights</h2>
                                    <p class="product-short-description">"Midnights" Album af Taylor Swift (2022)</p>
    <span class="price">$20</span><span class="actual-price">$40</span>
    </div>
    </div>
                </div>
                        <div class="product-container">
                            <div class="product-card">
                                <div class="product-image">
                                    <span class="discount-tag">50% tilbud</span>
                                    <img src="https://thevinylfactory.com/wp-content/uploads/2023/08/taylor.jpg" class="product-thumb" alt="" />
                                    <button class="card-btn">add to wishlist</button>
                                </div>
                                <div class="product-info">
                                    <h2 class="product-brand">1989 Taylor Version</h2>
                                    <p class="product-short-description">Album af Taylor Swift (2023)</p>
                                    <span class="price">200,-</span><span class="actual-price">400,-</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-container">
                            <div class="product-card">
                                <div class="product-image">
                                    <span class="discount-tag">50% off</span>
                                    <img src="https://i5.walmartimages.com/seo/Taylor-Swift-Red-Taylor-s-Version-Opera-Vocal-Vinyl_9ad29a60-d401-4e98-9516-8cd5c8c0c9c9.b6a905363566bf39de5700836f76f15f.png" class="product-thumb" alt="" />
                                    <button class="card-btn">add to wishlist</button>
                                </div>
                                <div class="product-info">
                                    <h2 class="product-brand">Red</h2>
                                    <p class="product-short-description">"Red" Album af Taylor Swift (2012)</p>
                                    <span class="price">200,-</span><span class="actual-price">400,-</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-container">
                            <div class="product-card">
                                <div class="product-image">
                                    <span class="discount-tag">50% off</span>
                                    <img src="https://www.deafmanvinyl.com/cdn/shop/products/Taylor-Swift-Reputation-picture-disc_2048x2048.webp?v=1666714973" class="product-thumb" alt="" />
                                    <button class="card-btn">add to wishlist</button>
                                </div>
                                <div class="product-info">
                                    <h2 class="product-brand">Reputation</h2>
                                    <p class="product-short-description">"Reputation" Album af Taylor Swift (2017)</p>
                                    <span class="price">200,-</span><span class="actual-price">400,-</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-container">
                            <div class="product-card">
                                <div class="product-image">
                                    <span class="discount-tag">50% off</span>
                                    <img src="https://moby-disc.dk/media/catalog/product/cache/e7dc67195437dd6c7bf40d88e25a85ce/s/h/sharedimage-95521.png" class="product-thumb" alt="" />
                                    <button class="card-btn">add to wishlist</button>
                                </div>
                                <div class="product-info">
                                    <h2 class="product-brand">Lover</h2>
                                    <p class="product-short-description">"Lover" Album af Taylor Swift (2019)</p>
                                    <span class="price">200,-</span><span class="actual-price">400,-</span>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
                    <div class="carousel-item">
                    <div class="cards-wrapper">
                    <div class="product-container">
                        <div class="product-card">
                            <div class="product-image">
                                <span class="discount-tag">50% off</span>
                                    <img src="https://study.com/cimages/course-image/big-picture-thinking-in-business_183979_large.jpg" class="product-thumb" alt="" />
                                <button class="card-btn">Føj til Favoritter</button>
                            </div>
                            <div class="product-info">
                                    <h2 class="product-brand">what is blud thinking about</h2>
                                    <p class="product-short-description">You not the thinker!</p>
                                    <span class="price">200,-</span><span class="actual-price">400,-</span>
                            </div>
                        </div>
            </div>
        </div>
            </div>

                    @*<div class="card-card">
                        <div class="image-wrapper">
                            <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                    <div class="card-card">
                        <div class="image-wrapper">
                            <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" alt />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card-card" style="width: 18rem;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/12in-Vinyl-LP-Record-Angle.jpg/800px-12in-Vinyl-LP-Record-Angle.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                    <div class="card-card" style="width: 18rem;">
                        <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                    <div class="card-card" style="width: 18rem;">
                        <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                    <div class="card-card" style="width: 18rem;">
                        <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                    <div class="card-card" style="width: 18rem;">
                        <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                </div>
                ¨
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card-card" style="width: 18rem;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/12in-Vinyl-LP-Record-Angle.jpg/800px-12in-Vinyl-LP-Record-Angle.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                    <div class="card-card" style="width: 18rem;">
                        <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                    <div class="card-card" style="width: 18rem;">
                        <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                    <div class="card-card" style="width: 18rem;">
                        <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                    <div class="card-card" style="width: 18rem;">
                        <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-dark">Gå til produkt</a>
                        </div>
                    </div>
                </div>
                    </div>*@

                    @* Kontrol Knapper *@
            <button class="pre-btn" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="nxt-btn" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        </div>
    </section>

    @*<section class="product">
        <h2 class="product-category">best selling</h2>
        <button class="pre-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223" />
            </svg>
            </button>
        <button class="nxt-btn"><img src="carousel-control-next-icon" alt="" />
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671" />
            </svg>
        </button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="product-thumb" alt="" />
                    <button class="card-btn">add to wishlist</button>
                </div>
               <div class="product-info">
                   <h2 class="product-brand">brand</h2>
                   <p class="product-short-description">a short line about the product</p>
                   <span class="price">$20</span><span class="actual-price">$40</span>
               </div>
            </div>
            <div class="product-container">
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="product-thumb" alt="" />
                        <button class="card-btn">add to wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the product</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div>
                </div>
                <div class="product-container">
                    <div class="product-card">
                        <div class="product-image">
                            <span class="discount-tag">50% off</span>
                            <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="product-thumb" alt="" />
                            <button class="card-btn">add to wishlist</button>
                        </div>
                        <div class="product-info">
                            <h2 class="product-brand">brand</h2>
                            <p class="product-short-description">a short line about the product</p>
                            <span class="price">$20</span><span class="actual-price">$40</span>
                        </div>
                    </div>
                    <div class="product-container">
                        <div class="product-card">
                            <div class="product-image">
                                <span class="discount-tag">50% off</span>
                                <img src="https://img.pixers.pics/pho_wat(s3:700/FO/59/05/58/16/700_FO59055816_1fa9cde3d60f0826a2e989df0cf0671b.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/hyggespredende-taepper-vinyl-record.jpg.jpg" class="product-thumb" alt="" />
                                <button class="card-btn">add to wishlist</button>
                            </div>
                            <div class="product-info">
                                <h2 class="product-brand">brand</h2>
                                <p class="product-short-description">a short line about the product</p>
                                <span class="price">$20</span><span class="actual-price">$40</span>
                            </div>
                        </div>
        </div>
    </section>*@

    <div class="container-fluid p-3 mt-3 text-dark text-center">
        <div class="row">
            @* <div class="card-deck"> *@
            <div class="col-sm-4">
                <div class="card h-50">
                    <div class="image-wrapper">
                    <img class="card-img-top" src="https://thumbs.dreamstime.com/b/silhouette-man-giving-helping-hand-to-another-man-who-fell-to-ground-silhouette-man-giving-helping-hand-to-116865617.jpg" alt="Card image cap">
                </div>
                    <div class="card-body bg-light">
                        <h5 class="card-title">Spørgsmål 1</h5>
                        <p class="card-text">Hvordan køber man slaver i store 2024? Det skal være de gode nogle :).</p>
                        <a href="#" class="btn btn-dark">Gå til spørgsmål</a>
                    </div>
                </div>
                </div>
               @*  <div class="card-deck"> *@
            <div class="col-sm-4">
            <div class="card h-50">
                <div class="image-wrapper">
                        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/silhouette-man-giving-helping-hand-to-another-man-who-fell-to-ground-silhouette-man-giving-helping-hand-to-116865617.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                        <h5 class="card-title">Spørgsmål 2</h5>
                    <p class="card-text">How to become racist? I love formula 1 racing. Oh and how to rape? I love eminem</p>
                    <a href="#" class="btn btn-dark">Gå til spørgsmål</a>
                </div>
                </div>
                </div>
    @* </div> *@
                @* <div class="card-deck"> *@
    <div class="col-sm-4">
            <div class="card h-50">
                    <div class="image-wrapper">
                        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/silhouette-man-giving-helping-hand-to-another-man-who-fell-to-ground-silhouette-man-giving-helping-hand-to-116865617.jpg" alt="Card image cap">
                    </div>
                <div class="card-body">
                    <h5 class="card-title">Spørgsmål 3</h5>
                    <p class="card-text">Tekst til at fylde spørgsmål ud med det kan fx handle om at du er skibidi?????.</p>
                    <a href="#" class="btn btn-dark">Gå til spørgsmål</a>
                </div> 
                </div>
                </div>
            @* </div> *@
    </div>
    </div>



</body>
</html>
