@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privatlivspolitik";
}
<h1>@ViewData["Title"]</h1>

<p>
    Velkommen til ATLL.DK. 
    Vi tager dit privatliv alvorligt og er forpligtet til at beskytte dine personlige oplysninger. Denne privatlivspolitik forklarer, hvilke oplysninger vi indsamler, hvordan vi bruger dem, og dine rettigheder vedrørende dine data.
    <br />
    1. Indsamling af oplysninger

    Vi indsamler følgende typer oplysninger:

    Personlige oplysninger: Navn, e-mailadresse, telefonnummer, leveringsadresse, betalingsoplysninger.
    Automatiske oplysninger: IP-adresse, browser-type, besøgstidspunkter og -datoer, sider du har besøgt.
    Cookies: Vi bruger cookies til at forbedre din brugeroplevelse på vores hjemmeside.
    <br />
    2. Brug af oplysninger

    Vi bruger dine oplysninger til følgende formål:

    At behandle og levere dine ordrer.
    At forbedre vores hjemmeside og tjenester.
    At sende dig nyhedsbreve og markedsføringsmateriale (kun med dit samtykke).
    At svare på dine henvendelser og yde kundesupport.
    <br />
    3. Deling af oplysninger

    Vi deler kun dine oplysninger med tredjeparter, når det er nødvendigt for at levere vores tjenester, eller når vi er juridisk forpligtet til det. Dette kan omfatte:

    Betalingsbehandlere.
    Leveringstjenester.
    Analyse- og marketingtjenester.
    <br />
    4. Beskyttelse af oplysninger

    Vi anvender passende tekniske og organisatoriske foranstaltninger for at beskytte dine personlige oplysninger mod uautoriseret adgang, ændring, offentliggørelse eller ødelæggelse.
    <br />
    5. Dine rettigheder

    Du har ret til at:

    Få adgang til de personlige oplysninger, vi har om dig.
    Anmode om korrektion af unøjagtige eller ufuldstændige oplysninger.
    Anmode om sletning af dine oplysninger.
    Trække dit samtykke tilbage (hvis behandlingen er baseret på samtykke).
    Klage til en databeskyttelsesmyndighed.
    <br />
    6. Ændringer i privatlivspolitikken

    Vi forbeholder os ret til at opdatere denne privatlivspolitik efter behov. Eventuelle ændringer vil blive offentliggjort på denne side, og den opdaterede politik træder i kraft straks ved offentliggørelse.
    <br />
    <h1>
    Kontakt os
    </h1>


    Hvis du har spørgsmål eller bekymringer vedrørende denne privatlivspolitik eller vores praksis, kan du kontakte os på:

    atll.contact@mail.com
</p>
