@page
@model ÆGTESemesterProjekt.Pages.Order.CheckOutModel
@{
    ViewData["Title"] = "Order Confirmation";
}
<head>
    <link rel="stylesheet" href="~/css/ProductPages.css" />
</head>
<div class="container mt-5 py-5" style="background-color: rgb(249,249,249);">
    <h1 class="display-1 fw-bold" style="color: darkorange; text-align: center;">Tak for din bestilling!</h1>
</div>


<div class="container" style="max-width: 95%; margin-top: 2%; background-color: rgb(248,247,246); padding: 20px;">
    <div class="row">
    <form method="post">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Produkt Navn</th>
                        <th>Pris</th>
                        <th>Antal</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MyCartProducts != null && Model.MyCartProducts.Any())
                    {
                        foreach (var shoppingCart in Model.MyCartProducts)
                        {
                            <tr>
                                <td>@shoppingCart.Product?.ProductName</td>
                                <td>@shoppingCart.Product?.Price</td>
                                <td>@shoppingCart.Count</td>
                                <td>@(shoppingCart.Count * shoppingCart.Product?.Price ?? 0)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center">Ingen produkter i kurv.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <button type="submit" class="btn btn-primary">Tilbage til forside</button>
        </div>
    </form>
</div>

    <h1>Din ordre er reserveret og kan afhentes her</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2251.7772636505542!2d12.082197476572885!3d55.64068890062126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525fc55ae9f617%3A0x66c5f3de2e9f7e74!2sHersegade%201D%2C%204000%20Roskilde!5e0!3m2!1sda!2sdk!4v1717748136988!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"</iframe>
