@page
@model ÆGTESemesterProjekt.Pages.Order.OrderItemModel
@{
}
<div class="row">
    <div class="col-md-4">
        <div>
            User: @Model.User.UserName
        </div>
        <div>
            Product: @Model.Product.ProductName
        </div>


        <form method="post">
            Count:
            <input asp-for="@Model.Count" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="../Product/GetAllProducts">Back to List</a>
</div>