@page
@model ÆGTESemesterProjekt.Pages.ShoppingCart.CartItemModel
@{
}
<div class="row">
    <div class="col-md-4">
        <div>
            @if (Model.User != null)
            {
                <span>User: @Model.User.UserName</span>
            }
            else
            {
                <span>User not found.</span>
            }
        </div>
        <div>
            @if (Model.Product != null)
            {
                <span>Product: @Model.Product.ProductName</span>
            }
            else
            {
                <span>Product not found.</span>
            }
        </div>

        <form method="post">
            Count:
            <input asp-for="Count" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="../Product/GetAllProducts">Back to List</a>
</div>