html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Set the background color for the entire page */
body {
    background-color: white; /* Change this to your desired color */
    font-family: Calibri, Helvetica, sans-serif; /* Ensure consistent font style */
}

.button {
    padding: 5px;
    margin: 10px 0px;
    cursor: pointer;
    border: none;
    width: 100%;
    max-width: 250px;
    border-radius: 20px;
    font-size: 1.5rem;
    box-sizing: border-box;
    transform: translateX(10%)
}

.form-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

form {
    border: none;
    box-shadow: 1px 1px 10px black;
    height: 100%;
    max-height: 550px;
    max-width: 550px;
    width: 100%;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    padding: 5%;
    border-radius: 10px;    
}

input[type=text], input[type=password] {
    width: 100%;
    max-width:500px;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 1.25rem;
}

button:hover {
    opacity: 0.7;
    background-color: darkorange;
    color: white;
}

h1 {
    font-size: 2.5rem;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    padding-bottom: 20px;
    color: black;

}

/*.split {
    height: 100vh;
    width: 60%;
    position: fixed;
    top: 0;
}

.left {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    right: 20%;
}*/

background-image {
  
    max-height: 900px;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   margin-top: 110px;
}

/*.img-fluid {
    background-image: url(https://static.vecteezy.com/system/resources/previews/038/974/315/non_2x/ai-generated-smiling-family-playing-piano-creating-joyful-music-together-generated-by-ai-free-photo.jpg);
    background-color: #cccccc;
    max-height: 900px;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 110px;
}*/


