html {
    font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

<style >
.product-card {
    margin: 10px; /* Smaller margin around each card */
}

.container {
    max-width: 95%; /* Adjust width of the container to suit your design */
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .form-container {
        max-width: 90%;
        padding: 20px;
    }

    form {
        padding: 10%;
    }

    .button {
        font-size: 1.2rem;
        min-width: 120px;
    }

    input[type=text], input[type=password] {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.75rem;
    }

    .form-container {
        max-width: 100%;
        padding: 15px;
        height: 90vh;
    }

    form {
        padding: 15%;
    }

    .button {
        font-size: 1rem;
        min-width: 100px;
    }

    input[type=text], input[type=password] {
        font-size: 0.9rem;
        padding: 10px 15px;
    }
}

</style >
