html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
<style >
.product-card {
    margin: 10px; /* Smaller margin around each card */
}

.container {
    max-width: 95%; /* Adjust width of the container to suit your design */
}

</style >

<style >
.form-container {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

    .form-container button:hover {
        background-color: #45a049;
    }

.intro {
    height: 100%;
}

.form-control {
    border-color: transparent;
}

</style >
