@page
@model ÆGTESemesterProjekt.Pages.Q_A.Question3Model
@{
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2>Hvilke typer vinyler sælger I</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <br />
            <ul class="list-unstyled">
                <li>
                    Vi tilbyder et bredt udvalg af vinyler, der passer til enhver musikelskers smag og præference.
                </li>
                <br />
                <li>
                    LP'er (Long-Play): Den mest almindelige type vinylplader, der typisk indeholder et album med 33 1/3 omdrejninger pr. minut (rpm). Disse vinyler har en diameter på 12 tommer og kan indeholde op til 20-25 minutters musik pr. side.
                    <br />
                    EP'er (Extended Play): En type vinylplade, der typisk indeholder færre numre end et fuldt album, men flere end en single. EP'er har normalt en diameter på 7 eller 10 tommer og kan spilles ved enten 33 1/3 rpm eller 45 rpm.
                    <br />
                    Singler (Singles): En vinylplade med kun en eller to numre, normalt en A-side og en B-side. Singler har normalt en diameter på 7 tommer og kan spilles ved 45 rpm.
                    <br />
                    12-tommer singler: En variation af singler, der har en større diameter på 12 tommer. Disse singler tillader bedre lydkvalitet og længere spilletid end de traditionelle 7-tommer singler.
                    <br />
                    Limited Editions: Sjældne og eksklusive udgivelser, der ofte er produceret i et begrænset antal og kan omfatte unikke farver, bonusmateriale eller indpakning.
                    <br />
                    Picture Discs: Vinylplader, hvor selve pladen har et trykt billede eller mønster. Disse er populære blandt samlere og kan være både visuelt og auditivt tiltalende.
                </li>
            </ul>
        </div>
    </div>
</div>