@page
@model ÆGTESemesterProjekt.Pages.Q_A.Question1Model
@{
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2>Retur af ødelagt vare?</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h5>Der er et par måder du kan returnere varen på</h5>
         <br />
            <ul class="list-unstyled">
                <li>
                    Den første måde ville være at sende pakken retur. Når du sender en retur pakke, er det vigtigt at du pakker varen forsvarligt. Vi foretrækker helst at du pakker varen i den originale emballage, eller en tilsvarende solid pakke.
                </li>
                <br />
                <li>
                    En anden måde ville være at tage den defekte vare med tilbage til butikken. Tag varen med til butikken sammen med din kvittering eller ordrebekræftelse, så vil vores personale hjælpe dig med returneringen.
                </li>
            </ul>
        </div>
    </div>
</div>