@page
@model ÆGTESemesterProjekt.Pages.Q_A.Question2Model
@{
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2>Hvilke betalingsmetoder accepterer I? Og info om butikken</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <br />
            <ul class="list-unstyled">
                <li>
                    På vores hjemmeside kan du vælge vores produkter samt vælge antallet du kunne tænkte dig at reservere. 
                </li>
                <br />
                <li>
                    Herefter får du lov til at se den fulde pris for din bestilling hvorefter du kan hente varene i vores butik som findes på Hersegade 1 D, 4000 Roskilde. Vi accepterer alle større kreditkort, bankoverførelsel og kontanter.
                </li>
            </ul>
        </div>
    </div>
</div>