@page
@model ÆGTESemesterProjekt.Pages.Messages.SendMessageModel
@{
    ViewData["Title"] = "Send Besked";
}
<h1>Send Besked til butik</h1>

<form method="post">
    <div>
        <label for="messageAuthor">Message Author:</label>
        <br />
        <input type="text" id="messageAuthor" name="MessageAuthor" value="" />
        <br />
    </div>
    <div>
        <label for="messageTitle">Message Title:</label>
        <br />
        <input type="text" id="messageTitle" name="MessageTitle" value="" />
        <br />
    </div>
    <div>
        <label for="messageContent">Message Content:</label>
        <br />
        <textarea id="messageContent" name="MessageContent"></textarea>
        <br />
    </div>
    <button type="submit">Send</button>
</form>
