@page
@model ÆGTESemesterProjekt.Pages.WishlistPage.DeleteWishlistModel
@{
}
<h1>Slet Fra Ønskeliste></h1>
<div class="alert alert-danger">
    <h5>Er du sikker på, at du ville slette produktet fra din ønskeliste?</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Ja</button>
        <a class="btn btn-primary" asp-page="/WishlistPage/Wishlist">Nej</a>
    </form>
</div>