@page
@using ÆGTESemesterProjekt.Models;
@model ÆGTESemesterProjekt.Pages.WishlistPage.WishlistModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/ProductPages.css" />
</head>

<div class="container mt-5 py-5" style="background-color: rgb(249,249,249);">
    <h1 class="display-1 fw-bold" style="color: darkorange; text-align: center;">Ønskeliste</h1>
</div>
<div class="container" style="max-width: 95%; margin-top: 2%; background-color: rgb(248,247,246); padding: 20px;">
    <div class="row">
        @if (Model.MyWishlist != null)
        {
            foreach (var wishlist in Model.MyWishlist)
            {
                    <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card" style="height: 100%; border: 1px solid rgb(188, 182, 179);">
                    <div class="card-body">

                            <img src="~/images/@wishlist.Product.ProductImage" class="card-img-top" style="height: auto; width: 100%; padding: 15px;">
                    <h5>@wishlist.Product.ProductName</h5>
                    <h6>@wishlist.Product.Description</h6>
                    <h6 class="card-text" style="color: darkorange;">@wishlist.Product.Price,-</h6>

                    <td>
                        <form method="post" asp-page-handler="DeleteWishlist">
                            <input type="hidden" name="wishlistId" value="@wishlist.WishlistId" />
                                    <button type="submit" class="btn btn-danger" style="width:auto" title="Fjern fra ønskeliste">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>


                        </form>
                    </td>
                
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<head>
    <link rel="stylesheet" href="~/css/ProductPages.css" />
</head>
