@page
@model ÆGTESemesterProjekt.Pages.RepairPage.DeleteRepairModel
@{
}
<h1>Slet Reperation></h1>
<div class="alert alert-danger">
    <h5>Er du sikker på, at du ville slette dette reperation? - @Model.Repair.RepProduct</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Repair/GetAllRepairs">No</a>
    </form>
</div>