@page
@model ÆGTESemesterProjekt.Pages.RepairPage.DeleteRepairModel
@{
}

<h2>Færdiggør Reparation</h2>

<form method="post">
    <div>
        <input asp-for="Repair.CaseId" readonly />
    </div>
    <div>
        <label>Produkt</label>
        <input asp-for="Repair.RepProduct" readonly />
    </div>
    <div>
        <label>Beskrivelse</label>
        <input asp-for="Repair.Description" readonly />
    </div>
    <button type="submit">Accepter</button>
</form>
